* {
    margin: 0;
    padding: 0;
}

/* index file styles */
.index_background {
    height: 1000px;
    background-image: url(images/robot-hand-background-small.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    height: 60px;
}

/* .section {
    display: flex;
    align-items: center;
    height: 100%;
    width: max-content;
} */
.logo-container {
    display: inline;
}

#logo_image {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    margin-top: 5px;
    margin-left: 5px;
}

.list-container {
    display: flex;
    justify-content: center;
    height: 100%;
}

.list-container ul {
    display: flex;
    list-style: none;
}

.list-container li {
    margin-right: 25px;
}

.list-container li :hover {
    color: white;
}

.index_title {
    color: rgb(118, 189, 204);
    text-decoration: none;
    margin-top: 120px;
}

.slogan {
    color: white;
    margin-bottom: 12px;
}

nav {
    height: 50px;
    width: 50px;

}

li>a {
    text-decoration: none;
    color: rgb(118, 189, 204);

}

.connect_button {
    background-color: white;
    text-decoration: none;
    color: rgb(118, 189, 204);
    font-weight: bold;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
}

.connect_button:hover {
    color: white;
    background-color: rgb(118, 189, 204);
}


/* login page styles */
.login_background {
    background-color: rgb(25, 51, 87);
}

.login_title {
    color: rgb(190, 228, 237);
    margin-bottom: 15px;
}

.container {
    display: flex;
    justify-content: space-evenly;
}


#image {
    height: 300px;
    width: 300px;
}

.email-container,
.password-container {
    margin-bottom: 10px;
}

input {
    padding: 3px 3px 3px 3px;
}

.email-container>p,
.password-container>p {
    color: rgb(190, 228, 237);
    margin-bottom: 5px;
}

.send-button {
    margin-top: 10px;
    background-color: rgb(190, 228, 237);
    border-style: none;
    padding: 5px 10px 5px 10px;
}

.send-button:hover {
    cursor: pointer;
    border: 2px solid black;
    font-weight: bold;
}



/* chat page styles */
.chat_background {
    background-color: rgb(25, 51, 87);
}

.chat_title {
    color: rgb(118, 189, 204);
}